/*body {font-family: 'Roboto', sans-serif; color: #3d4140;}*/
body {
  font-family: 'Roboto Slab', serif;
  color: #3d4140;
}
p, h3 {line-height: 1.4;}
p {font-weight: 300; font-size: 14px;}
a {text-decoration: none; color: #3d4140}
a:hover {color: #0099f5;}
.separator-a {height: 1px; background-color: #e1e2e2;}
.text-color-a {color: #fa4657}
.date {
    font-size: 12px;
    font-style: italic;
}

/* header */
header {
  border-top: 6px solid #0099f5;
  padding: 50px 0;
}
header nav ul {
  display: inline-block;
  float: right;
}
header nav ul::after {
  clear: left;
}
header nav li {
  float: left;
  padding: 20px 20px 0;
  height: 40px;
  border-right: 1px solid #e1e2e2;
}
header nav li:last-child {
  border: none;
  padding-right: 0;
}
header nav li a {
  text-transform: uppercase;
}
header nav li a.active{
  color: #0099f5;
}

/* content */
.intro {
  text-align: justify;
}
.post {
  text-align: justify;
}
.post .main-image-container {
    max-height: 400px;
    overflow: hidden;
    border: 1px solid #e1e2e2;
    margin-bottom: 10px;
}
.post .main-image {
  width: 100%;
  vertical-align: bottom;
}
.post .post-content p {
  font-size: 15px;
}
.comment-form input[type=text],
.comment-form textarea {
    padding: 0;
    width: 100%;
    border: none;
    background-color: #e1e2e2;
    margin-bottom: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
}
.comment-form input[type=submit] {
    border: 0;
    padding: 10px 15px;
    color: #fff;
    background-color: #0099f5;
    cursor: pointer;
}
.post .comment-owner,
.post .date {
    margin-bottom: 5px;
}
.post .comment-owner{
    font-weight: bold;
}

/* footer */
footer{
  text-align: right;
  color: #fff;
  background-color: #3d4140;
}
footer p{
  padding-top: 60px;
}
/* sticky footer */
html, body {
  height: 100%;
}
.sticky-footer-wrapper {
  min-height: 100%;
  margin-bottom: -155px;
}
footer, .sticky-footer-push {
  height: 155px;
}