{% extends 'buscandolaidea/base_template.html' %}
{% load staticfiles %}
{% block pagetitle %} - Libro de visitas{% endblock %}

{% block primary %}
<form class="form" action="{% url 'visitorsbook:publish' %}" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend class="mb20">¿Estás de viaje en un lugar exótico? ¿Quieres darme envidia? ¿Este sitio te parece una solemne tontería? ¡No te quedes con ganas de contarlo!</legend>
        {% csrf_token %}
        <div>
            {% if error_message %}
                <p class="mb10 text-color-a">{{ error_message }}</p>
            {% endif %}
            {% if success_message %}
                <p class="mb10">{{ success_message }}</p>
            {% endif %}
            <input id="visitor_image" class="inputfile" type="file" name="visitor_image"/>
            <label for="visitor_image">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                <span>Subir imagen&hellip;</span>
            </label>
            <br />
            <br />
            <input type="text" name="name" value="{{ name }}" placeholder="Nombre*" tabindex="1"/>
            <br />
            <textarea name="message" id="message" placeholder="Mensaje*" rows="8" tabindex="2">{{ message }}</textarea>
            <br />
            <input class="form_button" type="submit" value="ENVIAR"  tabindex="3"/>
        </div>
    </fieldset>
</form>
{% if signatures %}
    <h3 class="mt50">Firmas</h3>
    {% for signature in signatures %}
        <div class="row mt20">
            {% if signature.image %}
                <div class="col-3">
                    <img class="w100" src="{{ MEDIA_URL }}{{ signature.image }}" >
                </div>
                <div class="col-9">
            {% else %}
                <div class="col-12">
            {% endif %}
                    <h4 class="mb5"><i>{{ signature.name }}</i></h4>
                    <p>"{{ signature.message }}"</p>
                </div>
        </div>
    {% endfor %}
{% else %}
    <p class="mt50">Todavía no hay ninguna firma, ¡puedes ser la persona privilegiada en poner la primera!</p>
{% endif %}
{% endblock %}

{% block bottom %}
<script type='text/javascript' src="{% static 'visitorsbook/js/custom-file-input.js' %}"></script>
{% endblock %}