/* grid */
.col-1 {width: 6.86666666667%;}
.col-2 {width: 15.3333333333%;}
.col-3 {width: 23.8%;}
.col-4 {width: 32.2666666667%;}
.col-5 {width: 40.7333333333%;}
.col-6 {width: 49.2%;}
.col-7 {width: 57.6666666667%;}
.col-8 {width: 66.1333333333%;}
.col-9 {width: 74.6%;}
.col-10 {width: 83.0666666667%;}
.col-11 {width: 91.5333333333%;}
.col-12 {width: 100%;}
[class*="col-"] {float: left;}
[class*="col-"] + [class*="col-"] {margin-left: 1.6%;}
.row::after {content: ""; clear: both; display: block;}
.row, [class*="col-"] {box-sizing: border-box;}
.container{width: 1170px; margin: 0 auto;}

@media (min-width: 980px) and (max-width: 1199px) {
    .container {width: 940px;}
}
@media (min-width: 768px) and (max-width: 979px) {
    .container {width: 748px;}
}
@media (max-width: 767px) {
    .container {width: 420px;}
}
@media (max-width: 479px) {
    .container {width: 300px;padding: 0 15px;}
    [class*="col-"] {width: 100%; margin-bottom: 20px;}
    [class*="col-"] + [class*="col-"] {margin-left: 0;}
}

/* shorteners */
.block {display: block;}
.clearfix {overflow: auto; zoom: 1;}
.fleft {float: left;}
.fright {float: right;}
.fs14{font-size: 14px !important;}
.hide{display: none}
.relative {position: relative;}
.mt5 {margin-top: 5px !important}
.mt10 {margin-top: 10px !important}
.mt20 {margin-top: 20px !important}
.mt30 {margin-top: 30px !important}
.mt50 {margin-top: 50px !important}
.mt100 {margin-top: 100px !important}
.mb5 {margin-bottom: 5px !important}
.mb10 {margin-bottom: 10px !important}
.mb15 {margin-bottom: 15px !important}
.mb20 {margin-bottom: 20px !important}
.mb30 {margin-bottom: 30px !important}
.mb50 {margin-bottom: 50px !important}
.w100 {width: 100%;}