{% extends 'buscandolaidea/base_template.html' %}
{% load staticfiles %}
{% block pagetitle %} - {{ post.title|truncatewords:3 }}{% endblock %}

{% block primary %}
    {% if post %}
        <div class="row">
            <div class="col-9 post">
                <div class="clearfix">
                    <h2 class="mb15">{{ post.title }}</h2>
                    {% if post.main_image %}
                        <div class="main-image-container">
                            <img class="main-image" src="{{ MEDIA_URL }}{{ post.main_image }}" />
                        </div>
                    {% endif %}
                    <p>{{ post.content|linebreaks }}</p>
                </div>
            
                {% if comments %}
                    <div class="mt50">
                        <h3>Lo que dice la gente</h3>
                        <ul>
                            {% for comment in comments %}
                                <li class="mt10">
                                    <p class="comment-owner">{{ comment.owner }}<p/>
                                    <p class="comment-date">{{ comment.pub_date }}</p>
                                    <div class="comment-content">{{ comment.content|linebreaks }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <form class="mt50 comment-form" action="{% url 'blog:comment' post.id %}" method="post">
                    <fieldset>
                        <legend class="mb10">¡Deja tu comentario!</legend>
                        {% csrf_token %}
                        {% if error_message %}
                            <p class="mb10 text-color-a">{{ error_message }}</p>
                        {% endif %}
                        <input type="text" name="author" id="author" value="{{ author }}" placeholder="Autor"/>
                        <br />
                        <textarea name="content" id="content" placeholder="Comentario" rows="6">{{ comment_content }}</textarea>
                        <br />
                        <input type="submit" value="PUBLICAR" />
                    </fieldset>
                </form>
            </div>
            <div class="col-3">
                <h3 class="mb15">Listado otros post</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}