{% extends 'buscandolaidea/base_template.html' %}
{% load staticfiles %}
{% block pagetitle %} - {{ post.title|truncatewords:3 }}{% endblock %}

{% block head %}
    {% if post_media %}
        {% if load_jquery %}
        <script type='text/javascript' src="{% static 'blog/js/jquery-1.12.3.min.js' %}"></script>
        {% endif %}
        <script type='text/javascript' src="{% static 'blog/lib/unitegallery/js/unitegallery.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'blog/lib/unitegallery/themes/default/ug-theme-default.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/lib/unitegallery/css/unite-gallery.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/lib/unitegallery/themes/default/ug-theme-default.css' %}" />
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery("#gallery").unitegallery();
            });
        </script>
    {% endif %}
{% endblock %}

{% block primary %}
    {% if post %}
        <div class="row">
            <div class="col-9 post">
                <div class="clearfix">
                    <h2 class="mb5">{{ post.title }}</h2>
                    <p class="mb15 date">{{ post.pub_date }}</p>
                    {% if post.main_image %}
                        <div class="main-image-container">
                            {% autoescape off %}{{ post.image_big }}{% endautoescape %}
                        </div>
                    {% endif %}
                    <div class="post-content">{% autoescape off %}{{ post.content|linebreaks }}{% endautoescape %}</div>
                </div>

                {% if post_media %}
                    <div id="gallery" class="mt20" style="display:none;">
                        {% for media in post_media %}
                            {% if media.video_id %}
                                {% if media.url %}
                                    <img src="{{ media.image_url_small }}"
                                        data-image="{{ MEDIA_URL }}{{ media.url }}"
                                        data-type="youtube"
                                        data-videoid="{{ media.video_id }}"
                                        data-description="{{ media.description }}">
                                {% else %}
                                    <img data-type="youtube"
                                        data-videoid="{{ media.video_id }}"
                                        data-description="{{ media.description }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ media.image_url_small }}"
                                    data-image="{{ media.image_url_big }}"
                                    data-description="{{ media.description }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if comments %}
                    <div class="mt50">
                        <h3>Lo que dice la gente</h3>
                        <ul>
                            {% for comment in comments %}
                                <li class="mt10">
                                    <p class="comment-owner">{{ comment.owner }}<p/>
                                    <p class="date">{{ comment.pub_date }}</p>
                                    <div class="comment-content">
                                        {% autoescape off %}{{ comment.content|linebreaks }}{% endautoescape %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <form class="mt50 form" action="{% url 'blog:comment' post.url %}" method="post">
                    <fieldset>
                        <legend class="mb10">¡Deja tu comentario!</legend>
                        {% csrf_token %}
                        {% if error_message %}
                            <p class="mb10 text-color-a">{{ error_message }}</p>
                        {% endif %}
                        <input type="text" name="author" id="author" value="{{ author }}" placeholder="Nombre"/>
                        <br />
                        <textarea name="content" id="content" placeholder="Comentario" rows="6">{{ comment_content }}</textarea>
                        <br />
                        <input type="submit" value="PUBLICAR" />
                    </fieldset>
                </form>
            </div>
            <div class="col-3">
                <h3 class="mb5">Otros artículos</h3>
                {% if post_list %}
                    <ul>
                        {% for other_post in post_list %}
                            <li class="mb10">
                                <p>
                                    {% if other_post.id == post.id %}
                                        {{ other_post.title }}
                                    {% else %}
                                        <a class="fs14" href="{% url 'blog:content' other_post.url %}">
                                            {{ other_post.title }}
                                        </a>
                                    {% endif %}
                                    <br />
                                    <span class="date">{{ other_post.pub_date }}</span>
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No hay artículos disponibles.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}