<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>BLI {%block pagetitle %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'buscandolaidea/css/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'buscandolaidea/css/structure.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'buscandolaidea/css/style.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

        <script type='text/javascript' src="{% static 'buscandolaidea/js/jquery-1.12.3.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'buscandolaidea/js/scripts.js' %}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="sticky-footer-wrapper">
            <header>
                <div class="row container">
                    <div class="col-3 relative">
                        <a href="{% url 'home' %}" title="Buscando la idea">
                            <img class="logo" src="{% static 'buscandolaidea/img/logo.png' %}" alt="Buscando la idea" />
                        </a>
                        <img class="mobile_menu_icon" src="{% static 'buscandolaidea/img/menu_icon.png' %}" />
                    </div>
                    <nav class="col-9">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}"
                                    {% if request.resolver_match.url_name == "home" %}class="active"{% endif %}
                                >
                                    Portada
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'contact:contact' %}"
                                    {% if request.resolver_match.url_name == "contact" %}class="active"{% endif %}
                                >
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="container">
                <div class="separator-a mb30"></div>
                {% block primary %}
                    <h3 class="intro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h3>
                    {% if post_list %}
                        {% for post in post_list %}
                            {% if forloop.counter0|divisibleby:3 %}
                                <div class="row mt30">
                            {% endif %}
                                <div class="intro-box col-4">
                                    <a href="{% url 'blog:content' post.id %}">
                                        {% autoescape off %}{{ post.image_medium }}{% endautoescape %}
                                    </a>
                                    <p class="mt20"><a href="#">{{ post.title }}</a></p>
                                    <div class="separator-a mt20"></div>
                                </div>
                            {% if forloop.counter|divisibleby:3 %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if not post_list|length|divisibleby:3 %}
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="mt50">Ahora mismo no hay contenido nuevo, pero seguro que en breve publicaré algo</p>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="sticky-footer-push mt100"></div>
        </div>
        <footer>
            <div class="container">
                <p>Buscando la idea 2016&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{% url 'contact:contact' %}">Contacto</a></p>
            </div>
        </footer>
    </body>
</html>