<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>BLI {%block pagetitle %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'buscandolaidea/css/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'buscandolaidea/css/structure.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'buscandolaidea/css/style.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

        <script type='text/javascript' src="{% static 'buscandolaidea/js/jquery-1.12.3.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'buscandolaidea/js/scripts.js' %}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="sticky-footer-wrapper">
            <header>
                <div class="row container">
                    <div class="col-3 relative">
                        <a href="{% url 'home' %}" title="Buscando la idea">
                            <img class="logo" src="{% static 'buscandolaidea/img/logo.png' %}" alt="Buscando la idea" />
                        </a>
                        <img class="mobile_menu_icon" src="{% static 'buscandolaidea/img/menu_icon.png' %}" />
                    </div>
                    <nav class="col-9">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}"
                                    {% if request.resolver_match.url_name == "home" %}class="active"{% endif %}
                                >
                                    Portada
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'contact:contact' %}"
                                    {% if request.resolver_match.url_name == "contact" %}class="active"{% endif %}
                                >
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="container">
                <div class="separator-a mb30"></div>
                {% block primary %}
                    <h3 class="intro">¡Bienvenido! Si has llegado aquí es porque yo te he pasado el enlace o porque estás completamente perdido. Precisamente, perdido es un estado muy similar al que me encuentro, de ahí la creación de este sitio. Estoy a la búsqueda de una idea, una inspiración, algo, que me motive para dedicarle todo mi esfuerzo y conocimientos. Puede que nunca ocurra, puede que sea tomando un helado en mi casa, o puede que lo encuentre viajando, y créeme que tomar helado y viajar lo he intentado, mucho, sobretodo comer helado. Como en esta vida hay que ser perseverante, voy a continuar haciendo ambas cosas, así que te animo a leer mis histórias y ayudarme a encontrar "la idea".</h3>
                    {% if post_list %}
                        {% for post in post_list %}
                            {% if forloop.counter0|divisibleby:3 %}
                                <div class="row mt30">
                            {% endif %}
                                <div class="intro-box col-4">
                                    <a href="{% url 'blog:content' post.id %}">
                                        {% autoescape off %}{{ post.image_medium }}{% endautoescape %}
                                    </a>
                                    <p class="mt20"><a href="#">{{ post.title }}</a></p>
                                    <div class="separator-a mt20"></div>
                                </div>
                            {% if forloop.counter|divisibleby:3 %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if not post_list|length|divisibleby:3 %}
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="mt50">Ahora mismo no hay contenido nuevo, pero seguro que en breve publicaré algo</p>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="sticky-footer-push mt100"></div>
        </div>
        <footer>
            <div class="container">
                <p>Buscando la idea 2016&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{% url 'contact:contact' %}">Contacto</a></p>
            </div>
        </footer>
    </body>
</html>